// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-j5-common.dtsi"

/ {
	model = "Samsung Galaxy J5 (2016)";
	compatible = "samsung,j5x", "qcom,msm8916";
	chassis-type = "handset";
};

&muic {
	interrupts = <121 IRQ_TYPE_EDGE_FALLING>;
};

&panel {
	compatible = "samsung,s6e8aa5x01-ams520kt01";
	vdd3-supply = <&reg_vdd_lcd_1p8>;
	vci-supply = <&reg_vdd_lcd_3p0>;
};

&reg_vdd_lcd_1p8 {
	gpio = <&msmgpio 69 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&reg_vdd_lcd_3p0 {
	gpio = <&msmgpio 115 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&reg_vdd_tsp_a {
	gpio = <&msmgpio 108 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&lcd_1p8_ldo_en_default {
	pins = "gpio69";
};

&lcd_3p0_ldo_en_default {
	pins = "gpio115";
};

&muic_int_default {
	pins = "gpio121";
};

&tsp_ldo_en_default {
	pins = "gpio108";
};
